:root { 
  --black: #000000;
  --cinnabar: #e13a36;
  --corn: #e7b400;
  --mirage: #1a1e2c;
  --silver-tree: #56b694;
  --white: #ffffff;
  --white-2: #ffffffb2;
 
  --font-size-l: 22px;
  --font-size-m: 16px;
  --font-size-s: 12px;
  --font-size-xl: 24px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-white-12px {
  color: var(--white-2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.poppins-medium-white-22px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-white-16px-2 {
  color: var(--white-2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
